

.container {
    display: flex;
    flex-direction: column;
    align-items: left;
    font-family: 'Roboto Condensed', sans-serif;
  }

  .mini {
    background-image: url("bg.png");
    background-size: 45vmin;
    width: 44vmin;
    height: 38vmin;

  }

  .childx {
    width: 300vmin;
    font-weight: 100vmin;
    display: flex;
    flex-direction: row;
    flex-wrap: nowrap;
    justify-content: flex-start;
  }

  .table {
    padding-top: 0.8vmin;
    padding-left: 1.6vmin;

    border-right: solid black;
    border-right-width: 0.1vmin;
    padding-right: 1.6vmin;
    padding-bottom: 6vmin;

    display: flex;
    flex-direction: column;
    flex-wrap: nowrap;
    justify-content: top;
  }

  .tableend {
    padding-top: 0.8vmin;
    padding-left: 1.6vmin;
    padding-right: 1.6vmin;

    padding-bottom: 6vmin;

    display: flex;
    flex-direction: column;
    flex-wrap: nowrap;
    justify-content: top;
  }

  .time {
    margin-bottom: 1.2vmin;
  }

  .icon {
    text-align: center;
    margin-bottom: 1vmin;
  }

  .degree {
    text-align: center;
    font-size: 3vmin;
  }

  .childz {
    margin-top: 0.25vmin;
    width: 40vmin;
    font-weight: 100vmin;
    margin-left: 2.3vmin;
    margin-top: 2vmin;
    display: flex;
    flex-direction: row;
    flex-wrap: nowrap;
    justify-content: center;
  }

  .arrumb {
    display: flex;
    flex-direction: column;
    flex-wrap: nowrap;
    margin-top: 5vmin;
  }
  .arrowright {
    margin-top: 5vmin;
  }
  .arrowright1 {
    margin-top: 8.5vmin;
    margin-left: 1.5vmin;
  }
  .arrowleft {
    margin-right: 1.5vmin;
    margin-top: 8.5vmin;
  }
  .umbrella{
    margin-top: 9vmin;
  }
  .childy {
    width: 40vmin;
    font-weight: 100vmin;
    margin-left: 2.3vmin;
    margin-top: 1.5vmin;
    display: flex;
    flex-direction: row;
    flex-wrap: nowrap;
    justify-content: center;
  }
  .left {
    margin-left: 3vmin;
  }
  .right {
    margin-right: 3vmin;
  }
  .final {
    margin-top: 1vmin;
    display: flex;
    flex-direction: row;
    flex-wrap: nowrap;
    justify-content: space-between;
  }
.tablecontainer {
  display: flex;
  flex-direction: row;
  flex-wrap: nowrap;
  justify-content: center;
  background-image: url("rainbg.png");
  background-size: 38vmin;
  width: 44vmin;
  height: 20.1vmin;
}

.widgetcontainer {
  display: flex;
  flex-direction: column;
  flex-wrap: nowrap;
  justify-content: center;
  margin-left: 1vmin;
  margin-right: 1vmin;
  margin-top: 2vmin;

}
.widget {
  border-radius: 1vmin;

  padding-left: 1vmin;
  padding-right: 1vmin;
  padding-top: 0.5vmin;
  padding-bottom: 0.7vmin;
  width: 13vmin;
  border: solid black;
  border-width: 0.1vmin;
  display: flex;
  flex-direction: column;
  flex-wrap: nowrap;
  justify-content: center;
  margin-bottom: 1vmin;
}
.widgettitle {
  font-size: 2vmin;
  color:blue;
}
.info {
  font-size: 3vmin;
}


  .line {
    flex-grow: 3;
  }
  .daytext {
    margin-left: 2vmin;
    margin-right: 2vmin;
    font-size: 2.5vmin;
  }

  .childone {
    margin-top: 4vmin;
  }
  .city {
    margin-top: 1.3vmin;
    font-size: 5.4vmin;
    margin-left: 2vmin;
    text-align: left;
    transform: scale(1, 1.3);
  }

  .temp {
    margin-top:-0.4vmin;
    font-size: 9vmin;
    margin-left: 2vmin;
    text-align: left;
    font-family: 'Raleway', sans-serif  !important;
    color: blue;
  }
  .blegh {
    margin-top:-0.8vmin;
    font-size: 3vmin;
    margin-left: 1vmin;
    text-align: left;
  }
  .feelslike {
    margin-top:0.3vmin;
    font-size: 3vmin;
    margin-left: 2.3vmin;
    text-align: left;
  }

  .baby1 {
    padding-left: 2.3vmin;
  }
  .baby2 {
    padding-left: 1vmin;
  }